﻿@model List<ProductSaleViewModel>
@{
    ViewData["Title"] = "Test";
    string guid = ViewBag.Guid;
    int i = 0;
    int x = 0;
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@for (int j = 0; j < Model.Count; j++)
{
    <div id="myChart@(j+1)" class="divParent" style="width: 100%; max-width: 2000px; height: 1000px"></div>
    <p>@Model[j].ProductName</p>
}
@foreach (var item in Model)
{
    <script>
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["هفته", "فروش هفته گذشته", "فروش دوهفته گذشته"],
                ["شنبه", @Model[i].LastWeeksSalesReport[0], @Model[i].SalesReportForTheLastTwoWeeks[0]],
                ["یکشنبه", @Model[i].LastWeeksSalesReport[1], @Model[i].SalesReportForTheLastTwoWeeks[1]],
                ["دوشنبه", @Model[i].LastWeeksSalesReport[2], @Model[i].SalesReportForTheLastTwoWeeks[2]],
                ["سه شنبه", @Model[i].LastWeeksSalesReport[3], @Model[i].SalesReportForTheLastTwoWeeks[3]],
                ["چهارشنبه", @Model[i].LastWeeksSalesReport[4], @Model[i].SalesReportForTheLastTwoWeeks[4]],
                ["پنجشنبه", @Model[i].LastWeeksSalesReport[5], @Model[i].SalesReportForTheLastTwoWeeks[5]],
                ["جمعه", @Model[i].LastWeeksSalesReport[6], @Model[i].SalesReportForTheLastTwoWeeks[6]],
            ]);
            var chart = new google.visualization.LineChart(
                document.getElementById("myChart@(i + 1)")
            );
            chart.draw(data);
        }
    </script>
    <input type="hidden" id="productname@(i)" value="@Model[i].ProductName" />
    <input type="hidden" id="IncreaseOrDecraese@(i)" value="@Model[i].InCreaseOrDecrease">
    i += 1;

}

<form asp-action="CreateSVG">
    <input type="hidden" value="@guid" name="guid" />
</form>

<script>

    setTimeout(codingCourse, 1000);
    function codingCourse() {
        var svgs = $(".divParent svg");
        var colorFont = "";
        var textBefore = "";
        var textAfter = "";
        for (let i = 0; i < svgs.length; i++) {

            if (i < 3) {
                colorFont = "green";
                textBefore = "نسبت به هفته گذشته ";
                textAfter = "عدد افزایش داشته"

            }
            else {
                colorFont = "red";
                textBefore = "نبست به هفته گذشته ";
                textAfter = "عدد کاهش داشته";
            }


            $(svgs[i]).attr("xmlns", "http://www.w3.org/2000/svg");
            $(svgs[i]).css({ 'font-size': '20pt', 'font-family': 'Calibri' });
            var x2 = $(svgs[i]).find("rect:nth-child(2)");
            var productName = $('#productname' + i).val();
            var IncreaseOrDecrease = $('#IncreaseOrDecraese' + i).val();
            $(x2[0]).after("<text x='400' y='100'> <text fill=" + colorFont + " >" + textBefore + " " + IncreaseOrDecrease + "  " + textAfter + "</text>" + "  " + productName + "</text>")
            $("form").append("<textarea name='SvgContnent'>" + svgs[i].outerHTML + " </textarea> ");
        }
        $("form").submit();
    }

</script>