html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@font-face {
    font-family: "IRANSansWeb";
    src: url("../font/IRANSansWeb.ttf");
}

* {
    font-family: "IRANSansWeb" !important;
    outline: none;
}
